.DS_Store

sveltekit/node_modules/*
node_modules
sveltekit/build
sveltekit/.svelte-kit
sveltekit/package
sveltekit.env
sveltekit.env.*
!.env.example

db/*
!db/.gitkeep

!nginx
nginx/*
!nginx/nginx.conf

!php
php/*
!php/php.ini
